# https://github.com/gabibdods/NewRepo:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!docker-compose.yaml

!mta/
!mta/docker-entrypoint.sh
!mta/Dockerfile

!mta/config/
!mta/config/main.cf.template
!mta/config/master.cf
!mta/config/transport.template

!relay/
!relay/Dockerfile
!relay/requirements.txt

!relay/app/
!relay/app/main.py

!vuejs/
!vuejs/Dockerfile
!vuejs/index.html
!vuejs/jsconfig.json
!vuejs/nginx.conf
!vuejs/package.json
!vuejs/package-lock.json
!vuejs/tsconfig.app.json
!vuejs/tsconfig.json
!vuejs/tsconfig.node.json
!vuejs/vite.config.ts
!vuejs/vite.config.js

!vuejs/.vscode/
!vuejs/.vscode/extensions.json

!vuejs/public/
!vuejs/public/vite.svg
!vuejs/public/favicon.ico

!vuejs/src/
!vuejs/src/App.vue
!vuejs/src/App.bkp.vue
!vuejs/src/main.ts
!vuejs/src/main.js
!vuejs/src/style.css
!vuejs/src/vite-env.d.ts

!vuejs/src/assets/
!vuejs/src/assets/base.css
!vuejs/src/assets/logo.svg
!vuejs/src/assets/main.css
!vuejs/src/assets/vue.svg

!vuejs/src/components/
!vuejs/src/components/HelloWorld.vue
!vuejs/src/components/TheWelcome.vue
!vuejs/src/components/WelcomeItem.vue

!vuejs/src/components/icons/
!vuejs/src/components/icons/*.vue
